
// Backgrounds
$main_bg: #F4F4F4;

// Fonts
$gallery_title_font_size: 2rem;

// Width limiters
$max_width_limiter: 860px;
$min_width_limiter: 320px;

// Margins and paddings
$img_margin: 3px;
$functional_padding: 0 2rem 2rem;
$functional_margin_bottom: 1.5rem;
$input_group_top: 2rem;
$url_input_padding: 0.2rem 0.5rem;
$add_url_margin_left: 1em;
$load_url_margin_top: 0.5em;

// Sizes
$img_height: 200px;