@font-face {
    font-family: 'GothamSSm Narrow';
    src: url('../assets/fonts/GothamNarrSSm-XLight.eot');
    src: url('../assets/fonts/GothamNarrSSm-XLight.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/GothamNarrSSm-XLight.woff2') format('woff2'),
        url('../assets/fonts/GothamNarrSSm-XLight.woff') format('woff'),
        url('../assets/fonts/GothamNarrSSm-XLight.ttf') format('truetype'),
        url('../assets/fonts/GothamNarrSSm-XLight.svg#GothamNarrSSm-XLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

